!!!
%html
  %head
    %title= git_url
    %style{:type => 'text/css'}
      :css
        h1 {font-size: 120%; color: #666; margin: 4px 0;}
        ul {font-size: 80%;}
  %body
    %h1= git_url
    %ul
      - contents.each_with_index do |content, index|
        %li
          %a{:href => "section_#{index + 1}.html"}
            = content.sub(File.join(dir, '/'), '')
