!!!
%html
  %head
    %title= label
    %style{:type => 'text/css'}
      :css
        h1 {font-size: 120%; color: #666; margin: 4px 0;}
        pre {font-size: 76%; border: solid 1px #CCC;}
  %body
    %h1= label
    %pre
      %code
        = File.read(content)
